@import '../../styles/global.scss';

.btn {
  all: unset;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: $--size-20;

  background: $--pink;
  border-radius: $--radius-4;
  padding: pxToRem(14) pxToRem(35);
  color: $--white--1;
}
